	<ul>
		<li>
		<li>
		<li>
	</ul>
	<input type="text"></br></br>
	<table border ="1">
		<tr>
			<td>
				<button>E</button>
			</td>
			<td>
				<h1>D</h1>
			</td>
			<th>
				BA</br>CB
			</th>
		</tr>
		<tr>
			<td>
				<h1>F</h1>
			</td>
			<td>
				<button>E</button>
			</td>
			<td>
				<h1>D</h1>
			</td>
		</tr>
		<tr>
			<th>
				HG</br>IH
			</th>
			<td>
				<h1>F</h1>
			</td>
			<td>
				<button>E</button>
			</td>
		</tr>
	</table>
</br>
	<input type="text">
	<ul>
		<li>
		<li>
		<li>
	</ul>
