<!-- TODO: write ERb -->
<table>
	
		<tr>
			<td>City Name</td>
			<td><%= @city.name %></td>
		</tr>
		<tr>
			<td>Country</td>
			<td><%= @city.country %></td>
		</tr>
		<tr>
			<td>Time Zone Offset</td>
			<td><%= @city.time_zone %></td>
		</tr>
		<tr>
			<td>Population (in millions)</td>
			<td><%= @city.population %></td>
		</tr>
</table>
	