<!doctype html>
<html>
  
  <head>
    <title>single_page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/0f7356fad0281c9689f4f8d06c55797115190976.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Project name</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li class="active">
                <a href="#">Home</a> 
              </li>
              <li>
                <a href="#">About</a> 
              </li>
              <li>
                <a href="#">Contact</a> 
              </li>
            </ul>
          </div>
          <div class="control-group">
            <div class="controls">
              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Dropdown
    <span class="caret"></span>
  </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Action</a> 
                  </li>
                  <li>
                    <a href="#">Another Action</a> 
                  </li>
                  <li>
                    <a href="#">Some Other Action</a> 
                  </li>
                  <li>
                    <hr> 
                  </li>
                  <li class="nav-header" style="">Nav header</li>
                  <li>
                    <a href="#">Separated Link</a> 
                  </li>
                  <li>
                    <a href="#">One More Separated Link</a> 
                  </li>
                </ul>
              </div>
              <form class="pull-right" type="text">
                <input class="input-medium" type="text" placeholder="Email">
                <a class="btn pull-right">Sign In</a>
                <input class="input-medium" type="text" placeholder="Password"> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit hidden-phone">
        <h1>Hello, World!</h1>
        <p>This is a template for a simple marketing or informational website. It
          includes a large callout called the hero unit and three supporting pieces
          of content. Use it as a starting point to create something more unique.</p>
        <p>
          <a class="btn btn-large btn-primary" href="#"><span class="btn-label">Learn More &gt;&gt;</span></a> 
        </p>
      </div>
      <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a>
      <div class="row main-features">
        <div class="span4">
          <div class="well">
            <h3>Heading</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
              ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
              sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
              odio dui.</p>
            <a class="btn btn" href="#"><span class="btn-label">Learn More &gt;&gt;</span></a> 
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h3>Heading</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
              ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
              sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
              odio dui.</p>
            <a class="btn btn" href="#"><span class="btn-label">Learn More &gt;&gt;</span></a> 
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h3>Heading</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
              ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
              sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
              odio dui.</p>
            <a class="btn btn" href="#"><span class="btn-label">Learn More &gt;&gt;</span></a> 
          </div>
        </div>
      </div>
      <hr>
      <br>
      <p fontcolor="black">© Company 2013</p>
    </div>
  </body>

</html>