<p>Example of a table with a row of headers</p>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Grade for 101c</th>
    <th>Grade for 102c</th>
  </tr>
   <% @students.each do |student| %>
  <tr>
    <td><%= student.first_name %> <%= student.last_name %></td> 
      <% @exercises.each do |exercise| %>
    <td>
      (<%= student.first_name %>'s grade for <%= exercise.directory %>)</td>
    <% end %>
    <% end %>
  </tr>
</table>
