<htmL>
	<body>
		Gender:<br />
		<label for="male"><input type="radio" name="title" value="female" checked="checked">Male</label>
		<label for="female"> <input type="radio" name="title" value="female">Female</label>
		<p>Favorite Color</p>
		<select>
			<option value="">(choose one)</option>
  			<option value="black">Black</option>
  			<option value="blue">Blue</option>
  			<option value="green">Green</option>
  			<option value="red">Red</option>
		</select>
		<p> Blood Donor </p>
		<form action="demo_form.asp" method="get">
  			<input type="checkbox" name="donor" value=""> 
		</form>
	</body>
</html>


		

