<h1>Team members</h1>

<ul>
  <% @people.each do |person| %>
    <li><%= person.name %></li>
  <% end %>

    <li>
      <%== text_field_tag "new_name_#{num}", "" %>
    </li>
  <% end %>
</ul>

<%== submit_tag "Add" %>
